@model IEnumerable<JewelOfIndiaBuilder.Models.sp_GetApartmentWithStatus_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Blocked
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            BedRoom
        </th>
        <th>
            Floor Level
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            Status
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedRoom)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.FloorLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesType)
            </td>
           
            
        </tr>
    }

</table>

