@model JewelOfIndiaBuilder.Models.Property

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Property</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Feature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType.CodeReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType.CodeReference)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
